In [17]:
import os,json
import pandas as pd
from pandas import DataFrame
def get_path() -> list :
    dirname = os.path.dirname(os.path.abspath(__name__))
    file_dirname = os.path.join('每日各站進出站人數')
    name_list = []
    for filename in (os.listdir(file_dirname)):
        if '每日各站進出站人數' in filename:
            name_list.append(os.path.join(file_dirname,filename))
    return name_list
def get_station_imfo()->DataFrame:
    dirname = os.path.dirname(os.path.abspath(__name__))
    file_dirname = os.path.join('每日各站進出站人數')
    station_path = os.path.join(file_dirname,'車站基本資料集.json')
    with open (station_path,encoding='utf-8') as file:
        content =  json.load(file)
    station_imformation = pd.DataFrame(content)  
    station_imformation["stationCode"]= station_imformation['stationCode'].astype(int)
    return station_imformation
def in_out_imformation(names:list[str],stations:DataFrame):
    all_df = []
    for name in names:
        inOut=pd.read_csv(name)
        df1 = pd.merge(inOut,stations,left_on='staCode',right_on='stationCode')
        df2=df1.reindex(columns=['trnOpDate',
                                 'stationName',
                                 'gateInComingCnt',
                                 'gateOutGoingCnt'])
        df3 =df2.rename(columns={'trnOpDate':'日期',
                                 'stationName':'站名',
                                 'gateInComingCnt':'入站',
                                 'gateOutGoingCnt':'出站'})
        df3['日期'] = pd.to_datetime(df3['日期'].astype(str))
        all_df.append(df3)
    return all_df

In [18]:
name_list = get_path()
stations_imfo = get_station_imfo()
all_in_out = in_out_imformation(name_list,stations_imfo)
pd.concat(all_in_out)

              日期   站名    入站    出站
0     2019-04-23   基隆  8442  7743
1     2019-04-23   三坑  1394  1348
2     2019-04-23   八堵  2770  2423
3     2019-04-23   七堵  6113  6335
4     2019-04-23   百福  2680  2726
...          ...  ...   ...   ...
86604 2023-12-31   瑞芳  7916  8252
86605 2023-12-31  海科館   164   195
86606 2023-12-31  八斗子   652   720
86607 2023-12-31  四腳亭  1526   656
86608 2023-12-31   暖暖   576   447

[406761 rows x 4 columns]