In [4]:
import tools
from tools import get_path,in_out_imformation,get_station_imfo
import pandas as pd
if __name__ == "__main__":
    name_list = get_path()
    stations_imfo = get_station_imfo()
    all_in_out = in_out_imformation(name_list,stations_imfo)
    station_in_out = pd.concat(all_in_out)
    station_in_out1= station_in_out.sort_values(by="日期")
station_in_out1

              日期  站名     入站     出站
0     2019-04-23  基隆   8442   7743
152   2019-04-23  南州    533    424
153   2019-04-23  鎮安     15     14
154   2019-04-23  林邊    368    325
155   2019-04-23  佳冬     95     95
...          ...  ..    ...    ...
86454 2023-12-31  成功   1229   3101
86455 2023-12-31  彰化  19617  16699
86456 2023-12-31  花壇   1864   1532
86444 2023-12-31  潭子   3517   3091
86608 2023-12-31  暖暖    576    447

[406761 rows x 4 columns]

In [15]:
years_month =station_in_out['日期'].dt.strftime("%Y-%m")
station_in_out1=station_in_out.groupby(by=[years_month,'站名'])[['入站','出站']].aggregate(['max','min'])

In [16]:
bool1 = station_in_out1['入站']['min'] < 100
bool1

日期       站名
2019-04  七堵     False
         三坑     False
         三塊厝    False
         三姓橋    False
         三民      True
                ...
2023-12  鼓山     False
         龍井     False
         龍泉      True
         龍港      True
         龜山      True
Name: min, Length: 13619, dtype: bool

In [17]:
station_in_out1[bool1]

               入站       出站
              max min  max min
日期      站名
2019-04 三民     18   7   18   6
        三貂嶺   217  41  304  63
        上員     85  40   89  50
        中里     64  22   75  35
        九讚頭    80  39   82  42
...           ...  ..  ...  ..
2023-12 集集   1409  89  911  62
        頂埔    134  56  149  51
        龍泉     48   8  271  12
        龍港     87  15   61  15
        龜山    255  48  287  48

[4529 rows x 4 columns]

In [23]:
bool2 = (station_in_out1['入站']['min']) < (100 and station_in_out1['入站']['max'] < 100)
station_in_out1[bool2]

              入站       出站
             max min  max min
日期      站名
2019-04 枋山     7   0    6   0
2019-05 內獅     2   0    6   0
        大富    15   0   14   1
        枋山     2   0    7   0
        海端    30   0   29   0
...           ..  ..  ...  ..
2023-10 瑞和    17   0   18   1
2023-11 內獅     5   0    6   0
        南方小站   0   0  222  26
        枋山    14   0    9   0
2023-12 枋山    23   0  545   0

[417 rows x 4 columns]